@model AppRat.ViewModels.AR_DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}



@section Scripts {

    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    @* <script src="~/js/dashboard.js"></script> *@
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
    <link href="~/lib/select-picker/dist/picker.min.css" rel="stylesheet">
    <script src="~/lib/select-picker/dist/picker.min.js"></script>
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        }

<div class="row">
    <div class="container">

        @* btn use to be here *@

        <div class="collapse" id="collapseExample">
            <form id="filterForm" action="@Url.Action("Dashboard", "Home")" method="post">
                <!-- filter elements go here -->
                <div class="col-xl-12">
                    <div class="filter-panel">
                        <div class="row">
                            <div class="col-6">
                                <div class="overflow-container">
                                    <div class="form-group p-1">
                                        <label for="monthYear">Month and Year :</label>
                                        <input type="month" name="monthYear" id="monthYear" class="form-control month-year-input">
                                    </div>
                                    <div class="p-1">
                                        <label asp-for="SalesPeople" class="control-label"></label>
                                        @await Component.InvokeAsync("SalesPersonDropdown")
                                        <input type="hidden" asp-for="SalesPeople" />
                                    </div>
                                    <div class="p-1">
                                        <label asp-for="Results_Id" class="control-label"></label>
                                        @await Component.InvokeAsync("ResultDropdown")
                                        <input type="hidden" asp-for="Results_Id" />
                                    </div>
                                    <div class="p-1">
                                        <label asp-for="Condition_Id" class="control-label"></label>
                                        @await Component.InvokeAsync("ConditionDropdown")
                                        <input type="hidden" asp-for="Condition_Id" />
                                    </div>
                                    <div class ="p-1">
                                        <label asp-for="Insurance_Id" class="control-label"></label>
                                        @await Component.InvokeAsync("InsuranceDropdown")
                                        <input type="hidden" asp-for="Insurance_Id" />
                                    </div>
                                    <div class="p-1">
                                        <label asp-for="Remarks_Id" class="control-label"></label>
                                        @await Component.InvokeAsync("RemarkDropdown")
                                        <input type="hidden" asp-for="Remarks_Id" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="overflow-container">
                                    <div>
                                        <div class="form-group p-1">
                                            <label class="form-check-label">
                                                <input type="checkbox" id="bValidated" name="bValidated" class="form-check-input mr-2" />
                                                Validated
                                            </label>
                                            @*<div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" id="customSwitch1" disabled>
                                                <label class="form-check-label" for="customSwitch1">Toggle this switch element</label>
                                            </div>*@
                                        </div>
                                        @*<script>
                                            const checkbox1 = document.getElementById("bValidated");
                                            const switchElement1 = document.getElementById("customSwitch1");

                                            checkbox1.addEventListener("change", function () {
                                                if (this.checked) {
                                                    switchElement1.disabled = false;
                                                } else {
                                                    switchElement1.disabled = true;
                                                }
                                            });
                                        </script>*@

                                        <div class="form-group p-1">
                                            <label class="form-check-label">
                                                <input type="checkbox" id="bInvoiced" name="bInvoiced" class="form-check-input mr-2" />
                                                Invoiced
                                            </label>
                                            @*<div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" id="customSwitch2" disabled>
                                                <label class="form-check-label" for="customSwitch2">Toggle this switch element</label>
                                            </div>*@
                                        </div>
                                        @*<script>
                                            const checkbox2 = document.getElementById("bInvoiced");
                                            const switchElement2 = document.getElementById("customSwitch2");

                                            checkbox2.addEventListener("change", function () {
                                                if (this.checked) {
                                                    switchElement2.disabled = false;
                                                } else {
                                                    switchElement2.disabled = true;
                                                }
                                            });
                                        </script>*@

                                        <div class="form-group p-1">
                                            <label class="form-check-label">
                                                <input type="checkbox" id="bSigned" name="bSigned" class="form-check-input mr-2" />
                                                Signed
                                            </label>
                                            @*<div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" id="customSwitch3" disabled>
                                                <label class="form-check-label" for="customSwitch3">Toggle this switch element</label>
                                            </div>*@
                                        </div>
                                        @*<script>
                                            const checkbox3 = document.getElementById("bSigned");
                                            const switchElement3 = document.getElementById("customSwitch3");

                                            checkbox3.addEventListener("change", function () {
                                                if (this.checked) {
                                                    switchElement3.disabled = false;
                                                } else {
                                                    switchElement3.disabled = true;
                                                }
                                            });
                                        </script>*@
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- Hidden inputs for month and year -->
                        <input type="hidden" id="month" name="month">
                        <input type="hidden" id="year" name="year">
                        <!-- Submit button -->
                        <div class="d-flex justify-content-end mt-auto">
                            <button type="submit" class="btn btn-outline-theme p-1">Apply Filters</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="btn btn-outline-theme button-filter bi bi-filter filter-icon" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
</button>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Home/DashboardContent', 
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                $('#ContentContainer').html(data);
            },
            error: function (error) {
                console.error(error);
            }
        });

        $(document).ready(function () {
            $('#filterForm').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Get the selected month and year from the monthYear input
                const monthYearInput = document.getElementById('monthYear');
                const selectedMonthYear = monthYearInput.value; // Keep it as a string

                // Check if the selected month is in the past
                const selectedDate = new Date(selectedMonthYear);
                const currentDate = new Date();
                if (selectedDate <= currentDate) {
                    // Include the selected monthYear in the form data
                const formData = $(this).serializeArray();
                formData.push({ name: 'monthYear', value: selectedMonthYear });

                // Generate the URL using Url.Action()
                const url = '@Url.Action("DashboardContent", "Home")';

                // Add these console.log statements for debugging
                console.log('formData:', formData);
                //console.log('url:', url);

                // Make an AJAX request to submit the form data
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function (response) {
                        // Handle the server's response here
                        //console.log('Response:', response); // Log the response
                        $('#ContentContainer').html(response);
                    },
                    error: function (error) {
                        // Handle errors here
                        console.error(error);
                    }
                });
                    return;
                } else { 
                alert('Date cannot surpass the current month. Please make a valid selection.');
                }

                
            });
        });
    });
</script>


@* <script>
    $(document).ready(function () {
        $.ajax({
            url: '/Home/DashboardContent', 
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                $('#ContentContainer').html(data);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

    $(document).ready(function () {
        $('#filterForm').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get the selected month and year from the monthYear input
            const monthYearInput = document.getElementById('monthYear');
            const selectedMonthYear = monthYearInput.value; // Keep it as a string

            // Include the selected monthYear in the form data
            const formData = $(this).serializeArray();
            formData.push({ name: 'monthYear', value: selectedMonthYear });

            // Generate the URL using Url.Action()
            const url = '@Url.Action("DashboardContent", "Home")';

            // Add these console.log statements for debugging
            console.log('formData:', formData);
            //console.log('url:', url);

            // Make an AJAX request to submit the form data
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (response) {
                    // Handle the server's response here
                    //console.log('Response:', response); // Log the response
                    $('#ContentContainer').html(response);
                },
                error: function (error) {
                    // Handle errors here
                    console.error(error);
                }
            });
        });
    });
</script> *@
<!-- BEGIN row -->
<div class="row">
    <div class="container" id="ContentContainer">
    </div>
</div>

