@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="login">
	<div class="login-content">
		<h4>@ViewData["Title"]</h4>
		<p>
				Please check your email to reset your password.
		</p>
		<form id="forgot-password-form" method="post">
			<a asp-page="./Login" class="w-100 btn btn-lg btn-outline-theme">Back to login</a>
		</form>
	</div>
</div>
