
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Development</h1>
    <p>This area is for testing new features and concepts.</p>
    <p>Only visible to Admin level users.</p>
</div>

